.space {
  margin-left: 200px;
  width: 400px;
}

.wide {
  width: 350px;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartitemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.placeOrder_img {
  border-radius: 20%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}


.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}
